.evenUserId {
  background-color: lightblue;
}
.oddUserId {
  background-color: rgb(230, 131, 131);
}
.quickfilter-container {
  background-color: lightblue;
  padding: 5px;
}
.quickfilter-container #quickfilter-input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  outline: 0cm;
  border: 0px;
}
